* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url('../image/fondo2.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
html {
    scroll-behavior: smooth;
}
header{
    font-family: 'Montserrat', sans-serif; 
    position: sticky;
   
}
.nav {
    background: rgba(0, 0, 0, 0.772);
    padding: 2% 0; 
}
.a_contiene_logo{
    display: contents;
}
.a_menu_header {
    padding: 0 0 0 1%;
    color: #cf38dc;
    text-decoration: none; 
}
.a_menu_header:hover {
    color: #e9e0e0;
    text-decoration: none; 
}
.hamburguesa {
    color: #cf38dc;
}
.logo_header {
    width: 6%;
    height: 40%;
    border-radius: 70%;
    
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
}
.logo_header:hover {
    -webkit-transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform: rotateY(360deg);
    transform-style: preserve-3d;
}
.contenedor_download {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.h1_index{
    padding: 10% 3% 8% 4%;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}
.h1_index a{
    text-decoration: none;
    color: white;
}
.h2_index {
    margin:  4% 0;
    font-weight: 600;
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
.parrafo_pres {
    text-align: justify;
    color: white;
    font-family: 'Montserrat', sans-serif;
    justify-items: center;
  
    font-size: 130%;
    
}
.quien_soy{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.quien_soy img{
    border-radius: 2%;
    width: 30%;
}
@-webkit-keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 7));
    }
}
@keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 7));
    }
 }
.slider {

    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    height: 130px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
.slider::before, .slider::after {

    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
  }
.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }
.slider::before {
    left: 0;
    top: 0;
  }
.slider .slide-track {
    -webkit-animation: scroll 40s linear infinite;
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
  }
.slider .slide {
    height: 100px;
    width: 250px;
}
#skiles {
    padding: 0 0 4% 0;
}
.proyecto {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.imagen_proyecto{
    border-radius: 3%;
    box-shadow: 0 10px 20px rgb(231, 224, 224);
    border: solid 1px rgb(57, 85, 98);
    width: 30%;
    margin: 0 2% 1% 0;
}
.parrafo_proyecto {
        font-family: 'Abril Fatface';
        font-family: 'Playfair Display', serif;
        color: white;
        font-weight: 500;
        text-align: justify;
    }
footer{
    background: black;
}
.h3_footer{
    padding: 3% 0 0 0;
    margin: 0;
    text-align: center;
    color: white;
    font-family: 'Oswald', sans-serif;
}
.parrafo_footer {
    text-align: center;
    color: white;
    font-family: 'Oswald', sans-serif;
    padding: 0 0 1% 0;
}
.iconos_footer {
    display: inline-block;
    text-align: center;
    width: 100%;
}
.icono_footer{
    border-radius: 45%;
}

.contacto {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
   }
   @-webkit-keyframes flash {
    0%, 50%, 100% {
    opacity: 1;
    }
   25%, 75% {
    opacity: 0;
    }
   }
   @keyframes flash {
    0%, 50%, 100% {
    opacity: 1;
    }
   25%, 75% {
    opacity: 0;
    }
   }
   .flash {
    -webkit-animation-name: flash;
    animation-name: flash;
    animation-iteration-count: infinite;
   }
@media all and (max-width: 600px) {
    .logo_header{margin: 0 3% 1% 0; width: 10%;}
    .hamburguesa{font-size: 125%;}
    .contenedor_download{flex-direction: column;}
    .h1_index {margin: 4% 0; max-width: 90%; font-size: 180%;}
    .titulos {width: 70%; margin: 0 0 6% 0;}
    .h2_index{font-size: 180%;}
    .quien_soy{flex-direction: column;}
    .quien_soy img{ width: 70%; margin: 0 0 1% 0;}
    .parrafo_pres{max-width: 70%;}
    .proyecto{flex-direction: column;}
    .imagen_proyecto{width: 75%;}
    .parrafo_proyecto{max-width: 73%; font-size: 135%;}
    .icono_footer{width: 7%;  margin: 0 1% 4% 1%;}
}
@media all and (min-width: 601px) {
    .logo_header{margin: 0 3% 1% 0; width: 8%;}
    .hamburguesa{font-size: 145%;}
    .contenedor_download{flex-direction: column;}
    .h1_index {margin: 4% 0; max-width: 90%; font-size: 220%;}
    .titulos {width: 70%; margin: 0 0 6% 0;}
    .h2_index{font-size: 180%;}
    .quien_soy{flex-direction: column;}
    .quien_soy img{ width: 70%; margin: 0 0 1% 0;}
    .parrafo_pres{max-width: 70%;}
    .proyecto{flex-direction: column;}
    .imagen_proyecto{width: 75%;}
    .parrafo_proyecto{max-width: 73%; font-size: 135%;}
    .icono_footer{width: 4%;  margin: 0 1% 4% 1%;}
   
}
@media all and (min-width: 900px) {
    .logo_header{margin: 0 3% 0 0; width: 6%;}
    .contenedor_download{flex-direction: row;}
    .h1_index {margin: 4% 0; max-width: 70%; font-size: 273%;}
    .titulos {max-width: 30%; margin: 0 2% 0 0;}
    .h2_index{font-size: 220%;}
    .quien_soy{flex-direction: row;}
    .quien_soy img{ width: 30%; margin: 0 0 1% 0;}
    .parrafo_pres{max-width: 40%; font-size: 140%;}
    .proyecto{flex-direction: row; justify-content: space-around;}
    .imagen_proyecto{width: 30%;}
    .parrafo_proyecto{max-width: 30%; font-size: 135%;}
    .icono_footer{width: 3%;  margin: 0 1% 3% 1%;}
}
